<div class="calculator">
  <div class="display">
    <input type="text" [(ngModel)]="displayValue" readonly> <!-- Campo de texto de la pantalla de la calculadora -->
  </div>
  <div class="buttons">
    <div class="row">
      <div class="button" (click)="handleButtonClick('7')">7</div> <!-- Botón con el valor '7' -->
      <div class="button" (click)="handleButtonClick('8')">8</div> <!-- Botón con el valor '8' -->
      <div class="button" (click)="handleButtonClick('9')">9</div> <!-- Botón con el valor '9' -->
      <div class="button operator" (click)="handleButtonClick('/')">÷</div> <!-- Botón de operador de división -->
    </div>
    <div class="row">
      <div class="button" (click)="handleButtonClick('4')">4</div> <!-- Botón con el valor '4' -->
      <div class="button" (click)="handleButtonClick('5')">5</div> <!-- Botón con el valor '5' -->
      <div class="button" (click)="handleButtonClick('6')">6</div> <!-- Botón con el valor '6' -->
      <div class="button operator" (click)="handleButtonClick('*')">×</div> <!-- Botón de operador de multiplicación -->
    </div>
    <div class="row">
      <div class="button" (click)="handleButtonClick('1')">1</div> <!-- Botón con el valor '1' -->
      <div class="button" (click)="handleButtonClick('2')">2</div> <!-- Botón con el valor '2' -->
      <div class="button" (click)="handleButtonClick('3')">3</div> <!-- Botón con el valor '3' -->
      <div class="button operator" (click)="handleButtonClick('-')">-</div> <!-- Botón de operador de resta -->
    </div>
    <div class="row">
      <div class="button" (click)="handleButtonClick('0')">0</div> <!-- Botón con el valor '0' -->
      <div class="button" (click)="handleButtonClick('.')">.</div> <!-- Botón con el valor '.' -->
      <div class="button operator" (click)="handleButtonClick('+')">+</div> <!-- Botón de operador de suma -->
      <div class="button equal" (click)="calculate()">=</div> <!-- Botón para calcular el resultado -->
    </div>
    <div class="row">
      <div class="button clear" (click)="clear()">A/C</div> <!-- Botón para borrar la pantalla -->
    </div>
  </div>
</div>
