<div class="calculator">
  <div class="display">
    <!-- Campo de entrada de texto que muestra el operando actual -->
    <input type="text" [(ngModel)]="currentOperand">
  </div>
  <div class="buttons">
    <!-- Bucle que itera sobre cada fila de botones en la calculadora -->
    <div class="row" *ngFor="let row of calculator">
      <!-- Bucle que itera sobre cada botón en la fila actual -->
      <button class="button" *ngFor="let button of row" [ngClass]="getButtonClass(button)"
        (click)="handleButtonClick(button)">
        <!-- Muestra el contenido del botón actual -->
        {{ button }}
      </button>
    </div>
  </div>
  <div class="history">
    <h3>Historial de versiones:</h3>
    <ul>
      <!-- Bucle que muestra cada entrada en el historial -->
      <li *ngFor="let entry of history">{{ entry }}</li>
    </ul>
    <!-- Botón para limpiar el campo de visualización -->
    <button (click)="clearDisplay()">A/C</button>
  </div>
</div>
