<div class="calculator">
  <div class="screen">
    <input type="text" [(ngModel)]="displayValue">
  </div>
  <div class="row" *ngFor="let row of matrix">
    <button class="button" *ngFor="let button of row" (click)="handleButtonClick(button)">{{ button }}</button>
  </div>
  <div class="history">
    <h3>Historial de entradas:</h3>
    <ul>
      <li *ngFor="let entry of history">{{ entry }}</li>
    </ul>
  </div>
  <div class="clear-button">
    <button (click)="clearDisplay()">A/C</button>
  </div>
</div>
